# Mapnik XML
data.xml
*.thumb.png
*.swp
*.pbf

# quickstart
quickstart.log

# Vagrant
.vagrant
.retry


# imput / output data
src/data/*

# generated source files
src/build/*

# Cruft
.DS_Store
npm-debug.log
.idea